.cart {
  &-title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 50px;
    text-align: center;
    background-color: $header-background;
    padding: 20px 0;
  }

  &-benifit {
    display: flex;
    margin-top: 30px;
    font-size: 1.2rem;
    gap: 20px;
    padding: 15px 0;
    padding-left: 15px;
    background-color: $label-background;

    @include maxw($phone-width) {
      flex-direction: column;
    }

    &-title {
      font-weight: 600;
    }

    &-item {
      display: flex;
      border-left: 1px solid $itemBorder;
      padding-left: 20px;

      @include maxw($phone-width) {
        border: 0;
      }
    }

    &-label {
      margin-right: 10px;
    }
  }

  &-current {
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
    padding: 15px 0;
    padding-left: 15px;

    &-label {
      font-weight: 600;
    }
  }

  &-action {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 30px;
    margin-bottom: 60px;
    width: 100%;

    button {
      height: 30px;
      width: 20%;

      @include maxw($phone-width) {
        width: 40%;
      }
    }
  }
}

.table {
  font-size: 1.2rem;

  &-header {
    background-color: $label-background;
    align-items: center;
    padding: 15px 0;
    margin-bottom: 2px;

    * {
      display: flex;
      justify-content: center;
      font-weight: 600;
    }

    @include maxw($phone-width) {
      justify-content: space-between;

      &-action,
      &-image,
      &-score,
      &-price {
        display: none;
      }
    }
  }

  .checkbox {
    max-width: 14px;
    height: auto;
    cursor: pointer;
  }

  &-item {
    border-bottom: 1px solid $label-background;

    @include maxw($phone-width) {
      height: 80px;
    }

    &-image {
      padding: 5px;

      img {
        max-width: 100%;
        border: 1px solid $borderColor;
      }
    }

    &-quantity {
      input {
        width: 60%;
      }
    }

    &-action {
      flex-direction: column;
      gap: 10px;

      button {
        height: 25px;
        width: 90%;
      }
    }

    * {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-name {
      div {
        padding: 0 10px;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        display: block;
        align-items: center;
      }
    }

    @include maxw($phone-width) {
      justify-content: space-between;

      &-action,
      &-image,
      &-score,
      &-price {
        display: none;
      }
    }
  }

  &-footer {
    background-color: $label-background;
    display: flex;
    padding: 15px 0;

    &-total,
    &-label {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
    }
  }
}
