.register {
  &-header {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-branch {
      font-size: 1.4rem;
      font-weight: 700;
    }

    &-title {
      margin-top: 10px;
      font-size: 2.2rem;
      font-weight: 900;
    }

    &-description {
      font-size: 1.3rem;
      margin-bottom: 5px;
    }

    &-separate {
      width: 100px;
      border-bottom: 1px solid $textColor;
    }
  }

  &-info {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    border-bottom: 1px solid $textColor;
    line-height: 2.5rem;

    &-main {
      font-weight: 600;
    }
  }

  &-field {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    height: 56px;
    border-bottom: 1px solid $itemBorder;

    input {
      width: 25%;
    }
  }

  &-label {
    width: 18%;
    height: 100%;
    display: flex;
    padding-left: 20px;
    font-size: 1.3rem;
    align-items: center;
    background-color: $label-background;
  }

  &-description {
    font-size: 1.3rem;
  }

  &-btn {
    width: 100%;
    display: flex;
    justify-content: center;

    &-register {
      width: 250px;
      height: 32px;
      margin-top: 30px;
      margin-bottom: 60px;
    }
  }
}

.field-error {
  border: 1px solid red;

  &:focus {
    border: 1px solid red !important;
    box-shadow: 0 0 3px red !important;
  }
}
