$whiteColor: #fff;
$blackColor: #000;
$textColor: #333;
$borderColor: #eee;
$separateColor: #d8d8d8;
$titleColor: #888;
$itemBorder: #ccc;
$item-hover: #aeaeae;
$active-color: #e91e62;
$item-focus: #88b8fc;
$itemBackground: rgba(24, 42, 77, 80%);
$menuBackground: rgba(24, 42, 77, 100%);
$sectionBackground: #f2f2f2;
$grayColor: #f0f0f0;
$orrangeColor: #f7e7e7;
$toastBackground: #14b8a6;
$label-background: #f3f3f3;
$header-background: #e4e4e4;

$tablet-width: 1023px;
$phone-width: 767px;
